/* Write your custom CSS here */

.btn-firsthash {
  background-color: #fda309;
  color: #000;
  border: 1px solid #fffb1e;
}
.btn-firsthash:hover {
  color: #3d3d3d;
}
.color-text {
  color: #fda309;
}
.active-page {
  color: #fda309;
}
.btn-round {
  border-radius: 2.5rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.9);
}
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.9);
}
